doctype html
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="/static/js/json2.js")
script(src="/static/js/expensya.js")
script(src="/static/js/bootstrap.js")

link(href='/static/css/bootstrap.css', rel='stylesheet')
link(href='/static/css/signin.css', rel='stylesheet')
h1 Expensya
body
	.container.login-form
		h2 Please sign in
		input.form-control(type="email",id="email",placeholder="Email")
		br
		input.form-control(type="password", id="password",placeholder="Password")
		br
		button.btn.btn-lg.btn-primary.btn-block(id='signin') Sign in