doctype html
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="/static/js/json2.js")
script(src="/static/js/expensya.js")
script(src="/static/js/bootstrap.js")

link(href='/static/css/bootstrap.css', rel='stylesheet')
link(href='/static/css/navbar-fixed-top.css', rel='stylesheet')


.container

	.jumbotron
		h1 Profile Example
		p
		| This example is a quick demo to illustrate the login process with Expensya APIs . It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
		p
		a.btn.btn-lg.btn-primary(href='logout') Logout!