body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

h1 {

    margin-left:44%;
}

.form-control{
  width :330px;
}

.btn.btn-lg.btn-primary.btn-block{
  width:330px;
}

.login-form{
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -190px; 
}